

.title {
    color: #4aaaa5;
    margin-top: 20px;
    margin-bottom: 5px;
   
}

input[type="text"], input[type="email"], textarea {
    
    border-radius: 5px;   
   
}

.name {
    margin-bottom: 20px;
    border-radius: 5px;

}

.button {
    background-color: #4aaaa5;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 15px 40px;
    border-radius: 5px;
    
}

input[type="submit"]:hover {
    background: green;
}

@media screen and (max-width: 980px) {
    
    input[type="text"], input[type="email"], textarea {
        width: 100%;
    }
       
    
}