
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes example {
    from { background-color: #4aaaa5;}
    to { background-color: rgb(6, 86, 110);}
}

header {
    margin: 0;
    color: white;
    background: #4aaaa5;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 160px;
    top: 0px;
    z-index: 1;
    animation: example 5s ease-in-out 0s 3 alternate;
    
}

nav {
    color: #777777;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 6px;
    box-sizing: border-box;

}


a:link {
    color: #777;
    text-decoration:  none;

}

a:visited {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
    background-color: black;
}    

nav ul {
    margin-left: 800px;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1px;
    padding: 10px;
}

.Koi {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ver {
    border-right: 1px solid #777;
}


section {
    /* changed font color, background-color, and eliminated border for a cleaner look 
    color: #777777;
    background-color: #ffffff; 
    border: 2px solid #dddddd;
    border-color: #dddddd;*/
    color: whitesmoke;
    background: rgba(233, 229, 229, 0.1);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;

    
}


section h2 {
    color: #4aaaa5;

}

.bottom-line {
   border: 5px  #4aaaa5 solid;
   border-radius: 5px;
   width: 100%;
}

footer {
    color: white;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
   
}

@media screen and (max-width: 980px) {
    header {
    
        left: 87px;
      
    }

    nav ul {
        margin-left: 1px;
        text-align-last: end;

    }

    section {
        width: 500px;
        margin-left: 80px;
    }

    h2 {
        margin-top: 5px;
    }

    footer {
        position: relative;
        margin-top: 5%;
        padding: 1px;
    
    
    }
    
    .bottom-line {
        width: 99%;
    }
}


@media screen and (max-width: 768px) {

    header {
        left: 20px;
    }

    section {
        width: 700px;
        margin-left: 12px;
    }


    
  }


@media screen and (max-width: 648px) {
   
    header {
        position: static;
        width: 100%;
        padding: 1px;
        margin-top: -8px;
        margin-right: -10px;
        
  }

  nav ul {
      text-align-last: center;
  }

  section {
      width: 570px;
  }

}

